/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2efed37;
}

header {
    background-color: #34db8d;
    color: whitesmoke;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
}

#hero {
    background: url('hero-image.jpg') center/cover no-repeat;
    color: #0b0101;
}

h1 {
    font-size: 36px;
    margin: 20px 0;
}

#services ul {
    list-style-type: none;
    padding: 0;
}

.blog-post {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    background-size:contain;
}

.blog-post img {
    max-width: 200%;
    max-inline-size: 200%;

    border: 2px solid #151111;
    background-size:contain;
}

footer {
    background-color: #14852c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
}